h1 {
    text-align: center;
}

.submit{
    background-color: red;
    font-size: 25px;
}

.start{
    background-color: green;
    font-size: 25px;
}
p {
    text-align: center;
}
body {
    background-color: rgb(207, 196, 196);
}
.container{
    text-align: center;
    color: black;
    font-size: x-large;
    font-style: italic;
}
.jumbotron {
    text-align: center;
    color: black;
    border-bottom: 5px solid black;
  }
#timer{
    font-size: larger;
}
